# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""


JWT_SECRET=""


MAILER_HOST=
MAILER_USER_EMAIL=
MAILER_USER_PASSWORD=




GITHUB_CLIENT_ID = ""
GITHUB_CLIENT_SECRET = ""


GEMINI_API_KEY=""
DEEPSEEK_API_KEY=""


QWEN_BASEURL='',
QWEN_APIKEY=''
REDIS_PORT=


GITHUB_API_TOKEN = "".env
STRIPE_SECRET_KEY=

TRIAL_MAX_PROJECTS=1
TRIAL_MAX_QUESTIONS_PER_DAY=2