<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
      .container {
        max-width: 600px;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        border-top: 5px solid #008c6e;
      }
      .logoImage {
        font-size: 48px;
        font-weight: bold;
        color: #008c6e;
        margin-bottom: 20px;
        text-align: left;
      }
      .wrapper {
        padding: 20px;
      }
      .banner {
        height: 50px;
        background: #ffffff;
        color: #008c6e;
        text-align: left;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 40px;
        gap: 10px;
        padding: 20px;
        font-weight: bold;
      }
      h1 {
        color: #333;
        margin-bottom: 10px;
      }
      p {
        color: #555;
        line-height: 1.6;
      }
      .otp {
        font-size: 24px;
        font-weight: bold;
        color: #008c6e;
        background-color: #e7e7ff;
        padding: 15px;
        border-radius: 5px;
        display: inline-block;
        margin: 20px 0;
      }
      .button {
        display: inline-block;
        padding: 12px 25px;
        font-size: 18px;
        color: #fff;
        background-color: #008c6e;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
        transition: background-color 0.3s;
      }
      .button:hover {
        background-color: #222e35;
      }
      .footer {
        margin-top: 20px;
        text-align: left;
        font-size: 12px;
        color: #666;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <section class="banner">
        <h1 class="logoImage">Hikaflow</h1>
      </section>
      <div class="wrapper">
        <h1>Email Verification</h1>
        <p>Hello {{userName}},</p>
        <p>
          Please use the following OTP (One-Time Password) to verify your email:
        </p>
        <p class="otp">{{otp}}</p>
        <p>
          The OTP will expire in 10 minutes. If you didn't request this
          verification, you can safely ignore this email.
        </p>
        <p>
          If you have any questions or need assistance, feel free to contact us.
        </p>
        <p>
          Best regards,<br />
          The Hikaflow Team
        </p>
      </div>
    </div>
  </body>
</html>
